@charset "UTF-8";
/* default.css for Person Website */



body {
	
	margin-left: auto;
	margin-right: auto;
	font-family: "Verdana";
	font-size: 1em;
	width: 800px;
	background-color: white;
	height:100%;
	
	
}
header {
	background-color: white;
	width:100%;
	float: center;
}


.main { 
	background: white;
}




h2 {
	float: center;
}
ul {
	 padding: 10px 20px;
}


.center {
	margin: 25px;
}

footer {

}