@charset "UTF-8";
/* default.css for Person Website */


body {
	
	margin-left: auto;
	margin-right: auto;
	font-family: "Verdana";
	font-size: 1em;
	width: 800px;
	background-color: white;
	height:100%;
	
	
}
header {
	background-color: white;
	width:100%;
	float: right;
	font: optima;
	font-style: italic;
	text-align:center;
}
.maintitle{
	float:center;
}

.center img {
	border-radius: 50%;
	float: left;
	padding: 50px;
}
.main { 
	background: white;
}

/*nav bar section*/

/*setting up for mobile users*/
ul.topnav li {float: left;}
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
  text-align:center;
}
ul.topnav li a:hover:not(.active) {background-color: #989898;}

ul.topnav li a.active {background-color: #989898;}

ul.topnav li.right {float: right;}


ul {
	/*adjust the padding to give even spacing across the page or float in center*/
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #grey;
  	width:100%;
  	float: center;
}
li {
	float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #989898;
}
.active {
  background-color: #989898;
  color: #000000;
}


.center {
	display:inline-block;
	margin: 25px;
	width:800px;
	float: right;
	
}
.copyright{
	float:right;
	width: 20%;
}
.email{
	float: left;
	width:80%;
}
footer {

}